<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
  
                <h4 class="card-title">Agregar sucursal </h4>
                <div class="collapse" id="collapseExample" aria-expanded="false">
                    <div class="card card-body">
  
                    </div>
                </div>
                <form  [formGroup]='agregarSucursalFG' (ngSubmit)="agregarSucursal()">
                  <div class="form-group m-t-20 row">
                      <label for="example-text-input" class="col-2 col-form-label">Sucursal</label>
                      <div class="col-5">
                          <input class="form-control" type="text"  formControlName="sucursal">
                      </div>
                  </div>
                    <div class="form-group m-t-20 row">
                        <label for="example-text-input" class="col-2 col-form-label">Dirección</label>
                        <div class="col-5">
                            <input class="form-control" type="text"  formControlName="direccion">
                        </div>
                    </div>                  
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                </form>
            </div>
        </div>
    </div>
  </div>
  
