<div class="row">
    <div class="card">
     <div class="card-body">
       <h4 class="card-title">Resultados</h4>
     
       <div class="table-responsive m-t-40">
         <div id="example23_wrapper" class="dataTables_wrapper">
           <div id="example23_filter" class="dataTables_filter">
           </div>
           <table
             class="display nowrap table table-hover table-striped table-bordered dataTable"
             cellspacing="0"
             width="100%"
             role="grid"
             aria-describedby="example23_info"
             style="width: 100%"
           >
             <thead>
               <tr role="row">                 
                 <th  >
                   Sucursal
                 </th>
                 <th >
                   Dirección
                 </th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let data of sucursalConsulta" role="row" class="odd">
                 <td>{{ data.sucursal }}</td>
                 <td>{{ data.direccion }}</td>
               </tr>
             </tbody>
           </table>
         </div>
       </div>
     </div>
   </div>
 
 